/* GRILLE */
.wrapper{
    margin: 0 auto;
    max-width: 1024px;
}

.grid{
    /*display: none;*/
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    z-index: 4;
  }

  .ligne, .colonne{
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-color: #000;
  }

  .ligne{
    width: 100%;
    height: 10%;
    border-width: 1px 0 1px 0;
  }

  .colonne{
    width: 10%;
    height: 100%;
    border-width: 0 1px 0 1px;
  }
  .t10{
    top: 10%;
  }
  .t30{
    top: 30%;
  }
  .t50{
    top: 50%;
  }
  .t70{
    top: 70%;
  }
  .t90{
    top: 90%;
  }
  .l10{
    left: 10%;
  }
  .l30{
    left: 30%;
  }
  .l50{
    left: 50%;
  }
  .l70{
    left: 70%;
  }
  .l90{
    left: 90%;
  }

/* robot */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
    box-shadow: 0px 4px 8px rgba(0 , 0, 0, 0.5);
}

.grisfonce{
    background-color: rgb(54, 54, 54);
}

.grispale{
    background-color: rgb(211, 211, 211);
}

.rouge{
    background-color: rgb(204, 52, 52);
}

.bg{
    background-color: rgb(230, 113, 113);
    width: 500px;
    height: 500px;
}

.tete{
    width: 20%;
    height: 15%;
    left: 40%;
    top: 10%;
    border-radius: 20px 20px 0 0;
}

.oeilgauche{
    width: 5%;
    height: 5%;
    left: 43%;
    top: 15%;
    border-radius: 50%;
}

.oeildroit{
    width: 5%;
    height: 5%;
    left: 52%;
    top: 15%;
    border-radius: 50%;
}

.bouche{
    width: 20%;
    height: 5%;
    top: 25%;
    left: 40%;
}

.cou{
    width: 10%;
    height: 5%;
    top: 30%;
    left: 45%;
}

.brasgauche{
    width: 5%;
    height: 30%;
    top: 35%;
    left: 25%;
    border-radius: 25px 25px 0 0;
}

.epaulegauche{
    width: 5%;
    height: 5%;
    top: 40%;
    left: 30%;
}

.chest{
    background-color: rgb(12, 173, 93);
    width: 30%;
    height: 35%;
    top: 35%;
    left: 35%;
    border-radius: 25px 25px 0 0;
}

.epauledroite{
    width: 5%;
    height: 5%;
    top: 40%;
    right: 30%;
}

.brasdroit{
    width: 5%;
    height: 30%;
    top: 35%;
    right: 25%;
    border-radius: 25px 25px 0 0;
}

.jambedroite{
    width: 10%;
    height: 25%;
    top: 70%;
    left: 35%;
    border-radius: 0 0 25px 25px;
}

.jambegauche{
    width: 10%;
    height: 25%;
    top: 70%;
    right: 35%;
    border-radius: 0 0 25px 25px;
}

/* fin robot 2*/


.bg:hover .tete{
    background-color:rgb(157, 237, 248);
    width: 50%;
    height: 30%;
    left: 25%;
    top: 10%;
    border-radius: 20px 20px 0 0;
}

.bg:hover .oeilgauche{
    background-color: rgb(211, 128, 68);
    width: 10%;
    height: 10%;
    left: 30%;
    top: 20%;
    border-radius: 50%;
}

.bg:hover .oeildroit{
    background-color: rgb(211, 128, 68);
    width: 10%;
    height: 10%;
    left: 60%;
    top: 20%;
    border-radius: 50%;
}

.bg:hover .bouche{
    width: 10%;
    height: 5%;
    top: 30%;
    left: 45%;
    border-radius: 10px 10px 0 0;
}

.bg:hover .cou{
    width: 5%;
    height: 50%;
    top: 40%;
    left: 55%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(211, 128, 68);
}

.bg:hover .brasgauche{
    width: 5%;
    height: 35%;
    top: 40%;
    left: 30%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(211, 128, 68);
}

.bg:hover .epaulegauche{
    width: 5%;
    height: 10%;
    top: 40%;
    left: 30%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(199, 95, 21);
}

.bg:hover .chest{
    background-color: rgb(211, 128, 68);
    width: 5%;
    height: 50%;
    top: 40%;
    left: 40%;
    border-radius: 0 0 25px 25px;
}

.bg:hover .epauledroite{
    width: 5%;
    height: 35%;
    top: 40%;
    right: 30%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(211, 128, 68);
}

.bg:hover .brasdroit{
    width: 5%;
    height: 10%;
    top: 40%;
    right: 30%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(199, 95, 21);
}

.bg:hover .jambedroite{
    width: 5%;
    height: 25%;
    top: 40%;
    left: 40%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(199, 95, 21);
}

.bg:hover .jambegauche{
    width: 5%;
    height: 25%;
    top: 40%;
    right: 40%;
    border-radius: 0 0 25px 25px;
    background-color: rgb(199, 95, 21);
}

.bg:hover {
    background-color: rgb(89, 177, 170);
}

.transition{
    transition: all 2s cubic-bezier(.74,-0.29,.94,.12);
}
/* fin robot 2 */